
@model InventarioInteligente.Models.Producto
<h2>Nuevo Producto</h2>
<form method="post">
<input asp-for="Nombre" class="form-control mb-2" placeholder="Nombre"/>
<input asp-for="Precio" class="form-control mb-2" placeholder="Precio"/>
<input asp-for="Stock" class="form-control mb-2" placeholder="Stock"/>
<button class="btn btn-success">Guardar</button>
</form>
